name: CI/CD for VIVUDI Backend

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      # - name: Lint check
      #   run: npm run lint

      - name: Build project
        run: npm run build

      # Chỉ thực hiện bước này nếu push vào nhánh main và không phải là Pull Request
      - name: Trigger Render Deployment
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
